.article-last-element__h2 {
  margin-bottom: 30px;
}

.article-last-element__p {
  margin-bottom: 30px;
}

.article-last-element__figure {
  margin-bottom: 30px;
}

.article-last-element__figure:last-of-type {
  margin-bottom: 50px;
}
.article-last-element__figure-figcaption {
  margin-bottom: 30px;
}

.article-last-element__figure-img-recipes {
  padding: 0 240px;
  margin-bottom: 30px;
}

.article-last-element__img-center {
  padding: 0 137px;
  margin-bottom: 30px;
}

.article-last-element__figure-img {
  margin-bottom: 30px;
}

.img-center-small {
  padding: 0 381px 0 382px;
}
.img-center-big {
  padding: 0 290px;
  margin-bottom: 0;
}
