.article-margin__h2 {
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 30px;
}

.article-margin__img-float-left {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.article-margin__img-float-right {
  float: right;
  margin-left: 40px;
}

.article-margin__p-right {
  margin-bottom: 30px;
  display: inline-block;
  max-width: 45%;
}

.article-margin__p-right:last-child {
  margin-bottom: 0px;
}

.article-margin__p-left {
  margin-bottom: 30px;
  display: inline-block;
  max-width: 44%;
}

.article-margin__p-left:last-child {
  margin-bottom: 0px;
}
