.section-title {
  padding-top: 0;
  padding-bottom: 25px;
}

.section-title__title {
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 30px;
}

.section-title__p {
  text-align: left;
}

.section-title__p:first-of-type {
  margin-bottom: 30px;
}

.section-title__p:last-of-type {
  margin-bottom: 0px;
}

.article-title__navigate {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.article-title__h2 {
  font-weight: 700;
  font-size: 44px;
  padding: 25px 0 20px 45px;
}

.article-title__list {
  padding-left: 70px;
}

.article-title__item {
  padding-bottom: 10px;
}
.article-title__item:last-child {
  padding-bottom: 25px;
}

.article-title__item-link {
  color: #02535f;
}
